# version tag
VERSION_TAG=dev

# log lovel
LOG_LEVEL=INFO

# config folder
CONFIG_FOLDER=./config

# env file name - for portainer deploy, use stack.env; otherwise, .env
ENV_FILE=.env

# Python encoding
PYTHONIOENCODING=utf-8

# Time zone
TZ=Asia/Shanghai
